
# Adiciona suporte a modem USB da Huawei

# https://www.huawei.com/br/

# ---------------------------------------------------------------------------------------

# Huawei E156

# lsusb 
#
# Bus 002 Device 004: ID 12d1:1003 Huawei Technologies Co., Ltd. E220 HSDPA Modem / E230/E270/E870 HSDPA/HSUPA Modem

ATTR{idVendor}=="12d1", ATTR{idProduct}=="1003", RUN+="usb_modeswitch '/%k'"

# ---------------------------------------------------------------------------------------


# Huawei E173s
#
# ATTRS{idVendor}=="12d1", ATTRS{idProduct}=="1c0b", RUN+="usb_modeswitch '%b/%k'"
#
# https://diolinux.com.br/tutoriais/instalar-modem-3g-no-ubuntu-e-derivados.html


# ---------------------------------------------------------------------------------------
